# Environment variables
.env

# Go build files
/bin/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test cache
*.test

# Go workspace file
go.work
go.work.sum

# IDE/editor files
.vscode/
.idea/
*.swp
*.log

# OS files
.DS_Store
Thumbs.db
